

body {
	background: #212529;
	color: var(--bs-white);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
/*
	border: 2px solid red;
*/
}

span {
	font-size: 50px;
}
