@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-outline {
        @apply border border-light text-light px-4 py-1 rounded-full cursor-pointer hover:bg-light hover:text-dark;
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: #212529;
}
